@model my_project2.Models.employeeModel

@{
    ViewBag.Title = "employee";
}
<div class="row">
    <div class="col-md-auto">
        <h2>Getting started</h2>

        <h2>employee</h2>
        <p>this is to show the model property value i.e,@Model.employeemodel</p>
        <p>this is to show the temp Data value i.e,@TempData["tempData"]</p>
        <p>this is to show the ciew data value i.e,@ViewBag.employeeView</p>
    </div>

</div>





